:root {
  // colors
  --main-color: #e9262d;
  --secondary-color: #73be43;
  --background-color: #ffffff;
  --border-color: #eeeeee;
  --darken-border-color: #C2C3C6;
  --element-color: #1c1a1a26;
  --element-border-color: #00000033;
  --warning-color: #ffefe0;

  //text colors
  --text-color: #000000;
  --light-text-color: #69696C;

  // text
  --text-size: 14px;
  --text-size-medium: 16px;
  --text-size-big: 18px;

  // font-weight
  --standart-font-weight: 400;
  --bold-font-weight: 700;
}
