:root {
  // colors
  --main-color: #e9262d;
  --secondary-color: #73be43;
  --background-color: #ffffff;
  --border-color: #eeeeee;
  --element-color: #1c1a1a26;
  --element-border-color: #00000033;
  --warning-color: #ffefe0;
  --soft-grey-color: rgba(96, 105, 129, 0.15);
  --light-grey-background-color: #F3F3F3;

  //text colors
  --text-color: #000000;
  --light-text-color: #69696C;
  --grey-text-color: #494949;
  --dark-grey-text-color: #373C40;

  // text
  --text-size: 14px;
  --text-size-medium: 16px;
  --text-size-big: 18px;

  // font-weight
  --standart-font-weight: 400;
  --bold-font-weight: 700;
}
